.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.main {
  flex-grow: 1;
}
.main__container {
  min-width: 768px;
  width: 768px;
  margin: 0 auto;
  padding: 12px 32px;
}

.footer {
  border-top: 1px solid black;
}
.footer__container {
  min-width: 768px;
  width: 768px;
  margin: 0 auto;
  padding: 12px 32px;

  text-align: right;
}
