.app {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main__container {
  min-width: 768px;
  width: 768px;
  margin: 0 auto;
  padding: 20px 32px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
