.change-dictionary {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.change-dictionary__dictionary-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.change-dictionary__add {
  text-align: right;
}
