.change-dictionary {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* align-items: initial; */
}
.change-dictionary__dictionary-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.change-dictionary__label {
	text-align: right;
}